<%- model_class = Product -%>
<div class="page-header" align="center">
  <h2><%= "Sobre a Empresa:" %></h2>
</div>
<!DOCTYPE html>
<html lang="pt-br">

   <div class="", align="center">
	<p><h4>Atuamos no mercado de confecções desde 2010.</br>
	Somos fabricante de roupas(moda) feminina de diversos modelos,</br>
	sempre estamos nos atualizando e aprimorando nossos serviços,</br>
	venha nos conhecer e fazer uma parceria conosco.</h4></p></br>
   </div>
</br>
</br>
<div class="table-responsive">
 <table class="table table-condensed">
  <thead>
    <tr>
      <th><%= "Rua:" %></th>
      <th><%= "Bairro:" %></th>
      <th><%= "Buraco da Gia:" %></th>
      <th><%= "Site:" %></th>
      <th><%= "Cidade:" %></th>
      <th><%= "Estado:" %></th>
      <th><%= "CNPJ" %></th>
    </tr>
  </thead>
    
  <tbody>
    <tr>
      <td><%= "São Jose, 84" %></td>
      <td><%= "Centro" %></td>
      <td><%= "Box 250" %></td>
      <td><%= "www.dggirl.com.br" %></td>
      <td><%= "Fortaleza" %></td>
      <td><%= "Ceará" %></td>
      <td><%= "28.015.538/0001-99" %></td>
    </tr>
  </tbody>
 </table>
</div>
<br>
<%= link_to "Voltar", root_path, :class => 'btn btn-default btn-xs' %>
<br>
