<%- model_class = Product -%>
<div class="page-header" align="center">
  <h1><%= "Sobre a Empresa:" %></h1>
</div>
<!DOCTYPE html>
<html lang="pt-br">

   <div class="", align="Center">
	<h4>Atuamos no mercado de confecções desde 2010. Somos fabricante de roupas(moda) feminina de diversos modelos,
	sempre estamos nos atualizando e aprimorando nossos serviço, venha nos conhecer e fazer uma parceria conosco.</h4>
   </div>
</br>
</br>

  <table class="table table-striped">
  <thead>
    <tr>
      <th><%= "Rua:" %></th>
      <th><%= "Bairro:" %></th>
      <th><%= "Buraco da Gia:" %></th>
      <th><%= "Site:" %></th>
      <th><%= "Cidade:" %></th>
      <th><%= "Estado:" %></th>
      <th><%= "CNPJ" %></th>
    </tr>
  </thead>
    
  <tbody>
    <tr>
      <th><%= "São Jose, 84" %></th>
      <th><%= "Centro" %></th>
      <th><%= "Box 250" %></th>
      <th><%= "www.dggirl.com.br" %></th>
      <th><%= "Fortaleza" %></th>
      <th><%= "Ceará" %></th>
      <th><%= "28.015.538/0001-99" %></th>
    </tr>
  </tbody>
</table>

<br>
<%= link_to "Voltar", root_path, :class => 'btn btn-default btn-xs' %>
<br>
