<%- model_class = Product -%>
<div class="page-header">
  <h3><%= "Contatos" %></h3>
</div>
<!DOCTYPE html>
<html lang="pt-br">
<div class="table-responsive">
 <table class="table table-condensed">
  <thead>
    <tr>
      <th><%= "WhatsApp:" %></th>
      <th><%= "Instagram:" %></th>
      <th><%= "Facebook:" %></th>
      <th><%= "Site:" %></th>
      <th><%= "Telegram:" %></th>
      <th><%= "Email:" %></th>
    </tr>
  </thead>
    
  <tbody>
    <tr>
      <td><%= "(85) 99916-1438" %><br><%= "(85) 99837-2000" %></td>
      <td><%= "@dg_girl_" %></td>
      <td><%= "@Dgardany" %></td>
      <td><%= "www.dggirl.com.br" %></td>
      <td><%= "http://t.me/dg_girl" %></td>
      <td><%= "jeandgardany@hotmail.com" %></td>
    </tr>
  </tbody>
 </table>
</div>
<br>
<%= link_to "Voltar", root_path, :class => 'btn btn-default btn-xs' %>
<br>
