<%- model_class = Product -%>
<div class="page-header">
  <h1 align="center"><%= "Lista de Produtos" %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= "Cód." %>:</th>
      <th><%= "Nome" %>:</th>
      <th><%= "Descrição" %>:</th>
      <th><%= "Preço" %>:</th>
      <th><%= "Foto" %>:</th>
      <th><%= "Status" %>:</th>
      <th><%= "Categoria" %>:</th>
      <th><%= Data %>:</th>
      <th><%= "Ações" %>:</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.code %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= format_valor(product.price) %></td>
        <td><%= image_tag(product.photo.thumb.url) %></td>
        <td><%= format_status(product.status) %></td>
        <td><%= product.category.name %></td>
        <td><%= product.created_at.strftime("%d/%m/%Y") %></td>
        <td>
          <%= link_to "Mostrar", product_path(product), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
