<%= search_form_for @q do |f| %>
<%= f.search_field :name_cont, placeholder: 'Pesquisar Produtos...' %>
<%= f.search_field :category_name_cont, placeholder: 'Pesquisar Categorias...' %>
<%= f.submit %>
<% end %>

<%- model_class = Product -%>
<div class="page-header">
  <h1><%= "Lista de Produtos" %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:code) %></th>
      <th><%= "Nome" %></th>
      <th><%= "Descrição" %></th>
      <th><%= "Preço" %></th>
      <th><%= "Foto" %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= "Categoria" %></th>
      <th><%= "Data" %></th>
      <th><%= "Ações" %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.code %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= format_valor(product.price) %></td>
        <td><%= link_to image_tag(product.photo.large_thumb.url), product %></td>
        <td><%= format_status(product.status) %></td>
        <td><%= product.category.name %></td>
        <td><%= (product.created_at).strftime("%d/%m/%Y") %></td>
        <td>
          <%= link_to "Mostrar",
                      product_path(product), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Voltar", root_path, :class => 'btn btn-default btn-xs' %>
<br>
