<%- model_class = Product -%>
<div class="container">
  <form class="form-inline filter">
      <%= search_form_for @q do |f| %>
        <%= f.search_field :name_cont, placeholder: 'Pesquisar Produtos...',:class =>'form-control' %>
        <%= f.search_field :category_name_cont, placeholder: 'Pesquisar Categorias...',:class =>'form-control' %>
        <button class="btn btn-secondary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        <% end %>
  </form>
  <p class="text-center" style="font-size: large"><b>Desconto para Atacadistas:</b></p>
  <div class="row">
      <% @products_hot.where(hot: "true", status: "active").each do |product| %>
          <div class="col-md-2 col-sm-2 col-xs-4">
            <p class="text-center" style="font-size: small"><b><%= product.name %></b></p>
            <p><%= link_to image_tag(product.photo.small_thumb.url, class: "img-responsive img-thumbnail"), product %></p>
            <p class="text-center"><b><%= format_valor(product.price) %></b></p>
          </div>
      <% end %>
  </div>
  <%= link_to 'home', root_path, :class => 'btn btn-secondary btn-sm' %></dd>
</div>
<br>