<div class="form-group", align="right">
   <%= search_form_for @q do |f| %>
   <%= f.search_field :name_cont, placeholder: 'Pesquisar Produtos...' %>
   <%= f.search_field :category_name_cont, placeholder: 'Pesquisar Categorias...' %>
   <%= f.submit %>
   <!--button type="button" class="btn btn-primary btn-sm">Pesquisar</button-->
   <% end %>
</div>

<!DOCTYPE html>
<html lang="pt-br">
<head>

<%- model_class = Product -%>
<div class="page-header">
  <h1 align="center"><%= "Produtos" %></h1>
</div>
</head>

 <body>      
   <% @products.each do |product| %>
    <div class="div.polaroid">
      <div class="col-md-3 col-sm-3 col-xs-6">
       <p><%= link_to image_tag(product.photo.small_thumb.url, class: "img-responsive img-thumbnail"), product %></p>
      </div>
   
    </div>
   <% end %>

  </body>
</html>