<div class="form-group", align="left">
   <p><%= search_form_for @q do |f| %>
   <%= f.search_field :name_cont, placeholder: 'Pesquisar Produtos...' %>
   <%= f.search_field :category_name_cont, placeholder: 'Pesquisar Categorias...' %>
   <%= f.submit %></p>
   <% end %>
</div>
<!DOCTYPE html>
<html lang="pt-br">
<head>
<%- model_class = Product -%>
<div class="page-header">
  <h4 align= "center"><%= "Produtos em Promoção (Somente Atacado):" %></h4>
</div>
</head>

 <body>      
   <% @products.where(promotion: 0).each do |product| %>
    <div class="div.polaroid">
      <div class="col-md-3 col-sm-3 col-xs-6">
       <h6 align="center"><b><%= product.name %></b></h6>
       <p><%= link_to image_tag(product.photo.small_thumb.url, class: "img-responsive img-thumbnail"), product %></p>
       <h6 align="center"><b><%= format_valor(product.priceAT) %></b></h6>
      </div>
       
    </div>
   <% end %>

  </body>
</html>
