<%- model_class = Product -%>
<div class="page-header">
  <h2><%= "Produto" %></h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= "Código" %>:</strong></dt>
  <dd><%= @product.code %></dd>
  <dt><strong><%= "Nome" %>:</strong></dt>
  <dd><%= @product.name %></dd>
  <dt><strong><%= "Descrição" %>:</strong></dt>
  <dd><%= @product.description %></dd>
  <dt><strong><%= "Preço" %>:</strong></dt>
  <dd><%= format_valor(@product.price) %></dd>
  <dt><strong><%= "Foto" %>:</strong></dt>
  <dd><%= image_tag (@product.photo.small_thumb.url) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= format_status(@product.status) %></dd>
  <dt><strong><%= "Categoria" %>:</strong></dt>
  <dd><%= @product.category.name %></dd>
</dl>

<%= link_to "Home", root_path, :class => 'btn btn-default' %>
<%= link_to "Lista de Produtos", products_path, :class => 'btn btn-default'  %>

<!--%= image_tag(@product.photo_url.to_s) %-->
<!--%= image_tag(@product.photo_url(:thumb).to_s) %-->
<!--%= image_tag(@product.photo_url(:small_thumb).to_s) %-->
<!--%= image_tag(@product.photo_url(:large_thumb).to_s) %-->
